/* 全局样式表 */
html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 1366px;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 14px;
}

.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15) !important;
}

.el-table {
  margin-top: 15px;
  font-size: 12px;
}

.el-pagination {
  margin-top: 15px;
}

/* 解决 el-cascader 选项过高*/
.el-cascader-menu{
  height: 300px;
}

.el-steps{
  margin: 15px 0;
  justify-content: center;
}

.el-step__title {
  font-size: 13px;
}

.ql-editor {
  min-height: 300px;
}